@font-face {
  font-family: ;
  src: url();
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.container {
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
}

section {
  padding: 60px 0;
}

main {
  padding-top: 50px;
}

.heading {
  margin: 0;
  margin-bottom: 30px;
  font-size: 30px;
}

.text {
  margin: 0;
  margin-bottom: 20px;
  font-size: 25px;
}


/* header */
header {
  width: 100%;
  position: fixed;
  padding: 10px 0;
  z-index: 99;
}

.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 25px;
  /* color: var(--gray); */

  transition: color 0.3s ease;
}

/* .header__logo:hover {
  color: var(--pink);
} */
.nav__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.nav__list {
  font-size: 25px;
}